/* Desarrollo Web 1 */
/* Nombre Práctica: Hola Mundo */
/* Autor/a: Rulfo Best Diego*/
/* Fecha de elaboración: 07/02/2023*/

.mx{
    position: absolute;
    top: 200px;
    left: 400px;
    color: #3a86ff;
    font-size: 100px;
    -webkit-text-stroke: white 1px;
}

.us{
    position: absolute;
    top: 270px;
    left: 520px;
    color: #fb5607;
    font-size: 80px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}

.jp{
    position: absolute;
    top: 50px;
    left: 450px;
    color: #fb5607;
    font-size: 75px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}

.it{
    position: absolute;
    top: 250px;
    left: 700px;
    color: #ffbe0b;
    font-size: 130px;
    z-index: 1;
    -webkit-text-stroke: white 1px;
}

.hw{
    position: absolute;
    top: 130px;
    left: 700px;
    color: #ff006e;
    font-size: 140px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}

.ru{
    position: absolute;
    top: 90px;
    left: 950px;
    color: #ff006e;
    font-size: 40px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}

.ko{
    position: absolute;
    top: 100px;
    left: 370px;
    color: #8338ec;
    font-size: 100px;
    z-index: 1;
    -webkit-text-stroke: white 1px;
}

.po{
    position: absolute;
    top: 80px;
    left: 900px;
    color: #ffbe0b;
    font-size: 90px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}

.hi{
    position: absolute;
    top: 420px;
    left: 900px;
    color: #ff006e;
    font-size: 50px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}

.he{
    position: absolute;
    top: 240px;
    left: 950px;
    color: #3a86ff;
    font-size: 110px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}

.sw{
    position: absolute;
    top: 200px;
    left: 1100px;
    color: #fb5607;
    font-size: 90px;
    z-index: 2;
    -webkit-text-stroke: white 1px;
}